/*Comentario de CSS*/

/* Reset de CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box
}

/* paleta de colores */
.color1 {color: #90654a;}
.color2 {color: #a28e71;}
.color3 {color: #c4baa1;}
.color4 {color: #e8e7da;}
.color5 {color: #f3f3f3;}
.color6 {color: #ffffff;}

/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100;300;400;500;700&display=swap');
/* font-family: "Roboto Mono", monospace; */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap');
/* font-family: "Open Sans", sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;500;600;700;900&display=swap');
/* font-family: "Montserrat", sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;500;700&display=swap');
/* font-family: "Oswald", sans-serif; */

  
