// CONTACTO

// Estilos para el texto principal
.texto-de-archivo {
    p {
        font-family: $primary-font;
        font-size: 1rem;
        margin: 10px 20px;
    }
}

// Título del formulario de contacto
.titulo-formulario {
    font-family: $subtitle;
    font-size: 1.5rem;
    padding: 0;
    margin: 0;
}

// Estilos para los campos de entrada personalizados
.custom-input {
    border: 1px solid #ccc;
    font-size: 1rem;
    width: 100%;
    transition: border-color 0.3s ease;
    background-color: #f9f9f9;
    margin: 0 auto;

    &:focus {
        border-color: $black;
        outline: none;
        background-color: $white;
    }

    &::placeholder {
        color: #aaa;
        font-size: 0.9rem;
    }

    @media (max-width: 768px) {
        max-width: 500px;
        width: 100%;
    }
}

// Estilos para el botón de envío
button {
    margin-bottom: 1px;
    border: none;
    background-color: $black;
    color: $white;
    text-transform: uppercase;
    cursor: pointer;
    transition: background-color 0.3s ease;

    &:hover {
        background-color: #555;
    }
}

// Mapa de ubicación
.mapa {
    width: 100%;
    margin: 0 auto;
    margin-bottom: 3rem;

    @media (max-width: 768px) {
        width: 100%;
    }
}

// NEWSLETTER

// Estilos de texto de la sección Newsletter
.texto-de-newsletter {
    h2 {
        font-size: 1rem;
        margin-top: 20px;
        font-family: $primary-font;
        font-weight: bolder;
        text-transform: uppercase;
        padding: 0 20px;
    }

    p {
        font-family: $primary-font;
        font-size: 0.9rem;
        margin: 10px 20px;
        color: $light-gray;
    }
}

// Sección de registro
.registro {
    font-family: $subtitle;
    margin: 40px auto;
    padding: 20px;
    width: 80%;
    max-width: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #a28e71c2;
    border-radius: 10px;
}

// Formulario de registro
.formulario-registro {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 100%;

    .label-registro {
        font-size: 0.9rem;
        margin-bottom: 5px;
    }

    input[type="email"],
    select {
        text-align: left;
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 4px;
        font-size: 0.9rem;
        width: 100%;
    }

    input[type="checkbox"] {
        width: auto;
        margin-right: 10px;
    }

    .aceptar-promociones {
        display: flex;
        align-items: center;
        gap: 5px;
    }
}

// Botón de registro
.boton-registro {
    padding: 10px;
    background-color: $black;
    color: $white;
    border: none;
    cursor: pointer;
    text-transform: uppercase;
    transition: background-color 0.3s ease;
    align-self: center;
    width: fit-content;

    &:hover {
        background-color: #555;
    }
}