$white: #fff;
$black: #000;
$gray: grey;
$text-shadow-color: rgba(0, 0, 0, 0.5);
$primary-font: "Open Sans", sans-serif;
$secondary-font: "Oswald", sans-serif;
$tertiary-font: "Roboto Mono", monospace;
$subtitle: "Montserrat", sans-serif;
$container-max-width: 1200px;
$background-color-newsletter: #e8e7da;
$dark-gray: rgb(82, 82, 82);
$light-gray: rgb(59, 59, 59);